---
title: Over Pronto Lectures
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="Meer over Pronto Lectures" 
image_anchor="bottom" height="min" >}}

  <p class="lead mt-5">Bepaal de business essentie.
  </p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
  Pronto is een methode om de
  essensie van een organisatie 
  te bepalen.

  Pronto Lectures heeft als doel
  om de inhoud en de oorsprong van Pronto de documenteren.
{{% /blocks/lead %}}


{{% blocks/section color="light" %}}
<div class="col-12"  >
<h1 class="text-center">Waarom Pronto Lectures</h1>

  The primary goal of this site is 
  to document the discovery 
  and the content of Pronto 
  for future generations and academia.  

  The discovery of Pronto as method started 
  in 2006 by a couple of co-workers at 
  [Sogeti Netherlands](https://www.sogeti.com). 
  These three friends are now retired for some time. 
  There are no records of their journey 
  to be found.
  Therefore the information on this site 
  will be collected via a series of (unstructured) interviews.

  The secondary goal of this website is to
  create a platform for 
  [enterprise engineers](https://en.wikipedia.org/wiki/Enterprise_engineering)
  to contribute to Pronto as a part of the 
  Enterprise Engineering toolkit 
  just as [DEMO](https://en.wikipedia.org/wiki/Design_%26_Engineering_Methodology_for_Organizations) is.

</div>
{{% /blocks/section %}}

{{% blocks/section %}}
<div class="col-12"  >
<h1 class="text-center">Inhoud</h1>

  De Pronto Lectures is een prive intiatief.

  Pronto Lectures heeft als doel
  om de inhoud en de oorsprong van Pronto de documenteren
  voor historische en academische doeleinden.
  
  De inhoud van deze site wordt uitgebracht onder de 
  [CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/)
  licentie.

</div>
{{% /blocks/section %}}


{{% blocks/section color="light" %}}
<div class="col-12"  >
<h1 class="text-center">Content presentation</h1>

  De inhoud op deze site wordt gegenereerd
  door de tool 
  [Static Site Generator](https://www.cloudflare.com/learning/performance/static-site-generator)
  [Hugo](https://gohugo.io/documentation/).

  De layout/ thema van deze site is gebaseerd op het 
  [Hugo thema](https://themes.gohugo.io/) 
  [Docsy](https://www.docsy.dev/docs/examples/)
  (gemaakt door  
  [Google](https://github.com/google/docsy)).

  Docsy is uitgebracht onder de  
  [Apache License 2.0](https://github.com/google/docsy/blob/main/LICENSE)
  licentie.

</div>
{{% /blocks/section %}}


{{% blocks/section %}}
<div class="col-12">
<h1 class="text-center">Infrastructure</h1>

  De Pronto Lectures site wordt gehost door 
  [Gitlab Pages](https://about.gitlab.com/stages-devops-lifecycle/pages/)
  gebruik makend van de laatste versie van  
  ([Alpine Linux](https://alpinelinux.org/)) 
  [Hugo extended container](https://gitlab.com/pages/hugo/container_registry/) 
  onderhouden door
  [Hugo](https://gitlab.com/pages/hugo).

  In de generatie van de site wordt gebruikt gemaakt van
  [PostCSS](https://postcss.org/) 
  en 
  [NodeJS](https://nodejs.org/en/).

  [NPM](https://superuser.com/questions/1125969/how-to-install-npm-in-alpine-linux) 
  wordt in de pipeline  geinstalleerd samen met
  [autoprefixer, postcss-cli and postcss](https://www.npmjs.com/package/hugo-extended?activeTab=readme)
  als
  [Docsy pre-conditie](https://www.docsy.dev/docs/getting-started/#install-postcss).

</div>
{{% /blocks/section %}}


