+++
title = "Pronto Lectures"
linkTitle = "Pronto Lectures"

+++

{{< blocks/cover title="Welcome to the Pronto Lectures: documentation of a journey!" image_anchor="top" height="full" color="orange" >}}

<div class="mx-auto">
  	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
    Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  	</a>

  	<p class="lead mt-5">Learn how Pronto was discovered!</p>
  	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Pronto is a method to determine
the essence of an organisation.  

The discovery of Pronto as method started
in 2006 by a couple of co-workers at
[Sogeti Netherlands](https://www.sogeti.com).
These three friends are now retired for some time.  

There are no records of their journey to be found.
Therefore the information on this site
will be collected via a series of (unstructured) interviews.
{{% /blocks/lead %}}

{{% blocks/section color="blue" %}}
The primary goal of this site is 
to document the discovery 
and the content of Pronto 
for future generations and academia. 

There are no records of their journey 
to be found.
Therefore the information on this site 
will be collected via a series of (unstructured) interviews. 
{{% /blocks/section %}}

{{% blocks/section color="orange" %}}
The secondary goal of this website is to
create a platform for 
[enterprise engineers](https://en.wikipedia.org/wiki/Enterprise_engineering)
to contribute to Pronto as a part of the 
Enterprise Engineering toolkit 
just as [DEMO](https://en.wikipedia.org/wiki/Design_%26_Engineering_Methodology_for_Organizations) is.
{{% /blocks/section %}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Sharing Knowledge" %}}
The Pronto Lectures is a private initiative 
to document this discovery
for historic and academic purposes.

The content of this site is licenced under 
[CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/)
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://gitlab.com/edzob/pronto-lectures" %}} We do a [Merge Request](https://gitlab.com/edzob/pronto-lectures/-/merge_requests) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/edzob" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}