+++
title = "Pronto Lectures"
linkTitle = "Pronto Lectures"

+++

{{< blocks/cover title="Welkom bij de Pronto Lectures: vastlegging van een reis!" image_anchor="top" height="full" color="orange" >}}

<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">Meer <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>

	<p class="lead mt-5">Lees meer over hoe Pronto was ontdekt!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Pronto is een methode om de
essensie van een organisatie 
te bepalen.

De ontwikkeling en ontdekking van Pronto als methode 
begon in 2006 met een groep collega's
van [Sogeti Nederland](https://www.sogeti.com).
De drie heren zijn al enige tijd met pensioen.

Omdat er geen vastlegging van hun Pronto 
reis en ervaringen (online) te vinden zijn,
zal de informatie op deze website verkregen worden
door middel van 
(ongestructureerde) interviews. 
{{% /blocks/lead %}}

{{% blocks/section color="blue" %}}
The primary goal of this site is 
to document the discovery 
and the content of Pronto 
for future generations and academia. 

There are no records of their journey 
to be found.
Therefore the information on this site 
will be collected via a series of 
(unstructured) interviews. 
{{% /blocks/section %}}

{{% blocks/section color="orange" %}}
The secondary goal of this website is to
create a platform for 
[enterprise engineers](https://en.wikipedia.org/wiki/Enterprise_engineering)
to contribute to Pronto as a part of the 
Enterprise Engineering toolkit 
just as [DEMO](https://en.wikipedia.org/wiki/Design_%26_Engineering_Methodology_for_Organizations) is.
{{% /blocks/section %}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Kennis delen" %}}
  De Pronto Lectures is een prive intiatief.

  Pronto Lectures heeft als doel
  om de inhoud en de oorsprong van Pronto de documenteren
  voor historische en academische doeleinden.
  
  De inhoud van deze site wordt uitgebracht onder de 
  [CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/)
  licentie.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Aanvullingen zijn welkom!" url="https://gitlab.com/edzob/pronto-lectures" %}} Iedereen is welkom om via een [Merge Request](https://gitlab.com/edzob/pronto-lectures/-/merge_requests) op **GitHub** verbeteringen en aanvullingen te delen. Nieuwe gebruikers zijn altijd welkom!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Volg ons op Twitter!" url="https://twitter.com/edzob" %}}
Voor nieuws en updates van de Pronto Lectures.
{{% /blocks/feature %}}

{{< /blocks/section >}}